* {
  box-sizing: border-box;
}

input[type="file"] {
  display: none;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.inline {
  display: inline-block;
}

.margin {
  margin: 0.5rem;
}

.block {
  display: block;
  margin: 0.5rem;
}

video {
  width: 320px !important;
  height: 288px !important;
  image-rendering: pixelated !important;
}

label {
  display: block;
}

#player0.active-player {
  box-shadow: 0 0 2px 1px red;
}

#player1.active-player {
  box-shadow: 0 0 2px 1px blue;
}

span#connectionIndicatorImage {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: inline-block;
  background-color: grey;
}

span#connectionIndicatorText {
  display: inline-block;
}
